{% extends 'FreelancerBundle:Default:index.html.twig' %}

{% block body %}
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <ul class="w3_short">
                <li><a href="index.html">Home</a><i>||</i></li>
                <li>Project</li>
            </ul>
        </div>
    </div>
<div class="banner-bottom">
    <div class="container">
        <div class="w3ls-title">
            <h3 class="title-w3l"><span>My</span>Projects !</h3>
        </div>
    </div>
</div>
    <div class="container">
        <a class="btn btn-default pull-right"  href="{{ path('project_new') }}"><i class="glyphicon glyphicon-pencil"></i>  Create a new project</a>
        <div class="bs-docs-example" >
            <table class="table">
        <thead>
            <tr>
                <th>Projectname</th>
                <th>Activityarea</th>
                <th>Projectdescription</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Payment</th>
                <th>Experiencelevel</th>
                <th>Requiredskills</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>

                <td>{{ project.projectname }}</td>
                <td>{{ project.activityarea }}</td>
                <td>{{ project.projectdescription }}</td>
                <td>{% if project.startdate %}{{ project.startdate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if project.enddate %}{{ project.enddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ project.payment }}</td>
                <td>{{ project.experiencelevel }}</td>
                <td>{{ project.requiredskills }}</td>
                <td>
                <a class="btn btn-default" href="{{ path('project_show', { 'id': project.id }) }}"><i class="	fa fa-eye"></i></a>
                <a class="btn btn-default"  href="{{ path('project_edit', { 'id': project.id }) }}"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-default"  href="{{ path('project_delete', { 'id': project.id }) }}"><i class="fa fa-trash-o"></i></a>
                <a class="btn btn-default" target="_blank" href="{{ path('skillbarProject', { 'id': project.id }) }}"><i class="fa fa-file" style=""></i> View skills</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
    </div>
    <nav>
        <div class="navigation text-center" >
            {{ knp_pagination_render(projects) }}
        </div>
    </nav>
{% endblock %}
