{% extends 'FreelancerBundle:Default:index.html.twig' %}

{% block body %}
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <ul class="w3_short">
                <li><a href="index.html">Home</a><i>||</i></li>
                <li>Project Details</li>
            </ul>
        </div>
    </div>
    <div class="banner-bottom">
        <div class="container">
            <div class="w3ls-title">
                <h3 class="title-w3l"><span>P</span>roject!</h3>
            </div>
        </div>
    </div>
    <div class="about w3layouts-agileinfo" id="about">
        <div class="container">
            <div class="about-top w3ls-agile">
                <div class="col-md-6 red">
                    <img class="img-responsive" src="{{ asset('bundles/freelancer/img/g3.jpg')}}" alt="">

                </div>
                <div class="col-md-6 come">
                    <table class="table table-striped">
                        <tbody class="thead-light">

                        <tr>
                            <th>Activityarea</th>
                            <td>{{ project.activityarea }}</td>
                        </tr>
                        <tr>
                            <th>Projectdescription</th>
                            <td>{{ project.projectdescription }}</td>
                        </tr>
                        <tr>
                            <th>Startdate</th>
                            <td>{% if project.startdate %}{{ project.startdate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Enddate</th>
                            <td>{% if project.enddate %}{{ project.enddate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Payment</th>
                            <td>{{ project.payment }}</td>
                        </tr>
                        <tr>
                            <th>Experiencelevel</th>
                            <td>{{ project.experiencelevel }}</td>
                        </tr>
                        <tr>
                            <th>Requiredskills</th>
                            <td>{{ project.requiredskills }}</td>
                        </tr>
                        </tbody>
                    </table>

                    {% if is_granted('ROLE_JOBOWNER') or is_granted('ROLE_ADMIN') %}
                    <div>
                        {{ facebookButton( { 'facebook': {'locale':'fr_FR', 'send':true}} ) }}
                        {{ linkedinButton( { 'linkedin': {'locale':'fr_FR', 'send':true}} ) }}
                    {% endif %}
                    </div>

                    <span>
        {% if is_granted('ROLE_FREELANCER') or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('demande_add',{ 'id': project.id }) }}" class="btn btn-default" {% if test ==0 %}{{ 'disabled'}}{% endif %} > Candidate sending</a>
    </span>
                    <span>
            <a href="{{ path('get_test',{ 'id': project.id }) }}" {% if test !=0 %}{{ 'disabled'}}{% endif %} class="btn btn-default" >Get a TEST</a>
                        {% endif %}
    </span>
                    <span>
   <span>
            <a class="btn btn-default" href="{{ path('project_index') }}"><i class="glyphicon glyphicon-list"></i>Back to the list</a>
      </span>

      <span>
        {% if is_granted('ROLE_JOBOWNER') or is_granted('ROLE_ADMIN') %}
          <a class="btn btn-default"href="{{ path('project_edit', { 'id': project.id }) }}"><i class="glyphicon glyphicon-edit"></i>Edit</a>
            </span>

            <span>
            <a class="btn btn-default"href="{{ path('newSkillsProject', { 'id': project.id }) }}"><i class="fa fa-plus-square-o">  </i>  Add Required Skills</a>
      </span>
        <a href="{{ path('examen_project_new',{'id': project.id }) }}" {% if nbExam !=0 %}{{ 'disabled'}}{% endif %} class="btn btn-default"> <i class="fa fa-plus"></i> Add a new test </a>
                        {% endif %}

    </span>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //welcome -->

{% endblock %}
