{% extends 'FreelancerBundle:Default:index.html.twig' %}
{% block body %}
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <ul class="w3_short">
            <li><a href="index.html">Home</a><i>||</i></li>
            <li>Demande Details</li>
        </ul>
    </div>
</div>
<div class="banner-bottom">
    <div class="container">
        <div class="w3ls-title">
            <h3 class="title-w3l"><span>D</span>mande!</h3>
        </div>
    </div>
    <div class="container">
        <div class="bs-docs-example" >
            <table class="table table-striped">
        <tbody>

            <tr>
                <th>Summary</th>
                <td>{{ demande.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ demande.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ demande.status }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ demande.content }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <span>
            {% if is_granted('ROLE_JOBOWNER') or is_granted('ROLE_ADMIN') %}
            <a class="btn btn-default" href="{{ path('demand_by_JobOwner') }}"><i class="fa fa-list"></i>  Back to the list of demands</a>
            <a class="btn btn-default" href="{{ path('demande_edit', { 'id': demande.id }) }}"><i class="fa fa-pencil"></i>Edit</a>

            {% else%}
            <a class="btn btn-default" href="{{ path('demand_by_Freelancer') }}"><i class="fa fa-list"></i>  Back to the list of demands</a>
            {% endif %}
       </span>
    </ul>
        </div>
    </div>
</div>


{% endblock %}
