{% extends '@Freelancer/Default/index.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Skills</th>
                <td>{{ user.skills }}</td>
            </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ user.domaine }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ user.birthDate }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ user.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Registrationnum</th>
                <td>{{ user.registrationNum }}</td>
            </tr>
            <tr>
                <th>Disponibility</th>
                <td>{{ user.disponibility }}</td>
            </tr>
            <tr>
                <th>Activitysector</th>
                <td>{{ user.activitySector }}</td>
            </tr>
            <tr>
                <th>Socialraison</th>
                <td>{{ user.socialRaison }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('my_app_job_owner_homepage') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_FREELANCER') or is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        {% endif %}
        <td><a class="btn btn-default" target="_blank" href="{{ asset('uploads/cvs/' ~ user.cv) }}"><i class="fa fa-file" style=""></i> View Cv (PDF)</a></td>

        <td><a class="btn btn-default" target="_blank" href="{{ path('skills_skillbar') }}"><i class="fa fa-file" style=""></i> View skills</a></td>

        <td><a class="btn btn-default" href="{{ path('offer_new', { 'id': user.id })}}" ><i class="fa fa-eye"></i> Offer</a></td>
    </ul>
{% endblock %}
