{% extends '@Freelancer/Default/index.html.twig' %}

{% block body %}
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <ul class="w3_short">
            <li><a href="index.html">Home</a><i>||</i></li>
            <li> Offer</li>
        </ul>
    </div>
</div>
<div class="banner-bottom">
    <div class="container">
        <div class="w3ls-title">
            <h3 class="title-w3l"><span>O</span>ffer !</h3>
        </div>
    </div>
    <div class="about-top w3ls-agile" >
        <div class="container">
            <div class="bs-docs-example" >
        <table class="table table-striped">
        <tbody>

            <tr>
                <th>Description</th>
                <td>{{ offer.description }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ offer.details }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if offer.date %}{{ offer.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ offer.amount }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if offer.datestart %}{{ offer.datestart|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>



            {% if is_granted('ROLE_FREELANCER') or is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default" href="{{ path('offer_by_Freelancer') }}"><i class="	fa fa-list">Back to the list</i></a>
            {% else %}
            <a class="btn btn-default"  href="{{ path('offer_by_JobOnwer') }}"><i class="	fa fa-list"></i>Back to the list</a>
            {% endif %}




            </div>
        </div>
    </div>
</div>
{% endblock %}