{% extends 'FreelancerBundle:Default:index.html.twig' %}

{% block body %}
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <ul class="w3_short">
                <li><a href="index.html">Home</a><i>||</i></li>
                <li>Freelancer</li>
            </ul>
        </div>
    </div>
    <div class="banner-bottom">
    <div class="container">
        <div class="w3ls-title">
            <h3 class="title-w3l"><span>F</span>reelancer list!</h3>
        </div>
    </div>


        <!--team-->

        <div class="team">
            <div class="container">
                <div class="team-row" >
                    {% set i =1 %}
                    {% for freelancer in frees %}
                    <div class="col-md-3 team-grids team-mdl1 wow fadeInUp animated" data-wow-delay=".5s" >
                    <h5>{{ freelancer.firstName }} <span> {{ freelancer.lastName }}</span></h5>

                        <p > {{ freelancer.skills }}</p>
                        <p> {{ freelancer.activitySector }}</p>
                        <p> {{ freelancer.address }}</p>
                        <p>  {{ freelancer.birthDate }}</p>
                        <p> {{ freelancer.disponibility }}</p>
                        <a class="btn btn-default" href="{{ path('user_show', { 'id': freelancer.id })}}" ><i class="fa fa-eye" aria-hidden="true"></i> show</a>
                        <div class="team-img">
                            <img src="{{ asset('bundles/freelancer/img/t'~i~'.jpg')}}" alt="">
                        </div>
                        {% set i =i+1 %}
            </div>
        </div>
                {% endfor %}
        <!--//team-->
    </div>

{% endblock %}