{% extends '@MyAppAdmin/default/backLayout.html.twig' %}
{% block test2 %}

    {% set foo = 0 %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>num</th>
            <th>Reaclamtion </th>
            <th>Created at</th>
            <th>Statue</th>
        </tr>
        </thead>
        <tbody>
        {% for Reclamation in reclamations %}
            {% set foo=foo+1 %}
            <tr>
                <td>{{ foo }}</td>
                <td><span>  <a class="button18" href="{{ path('my_app_admin_replyReclamation',{'id':Reclamation.id}) }}"><div> {{ Reclamation.titre }} </div></a></span></td>
                <td>{{ Reclamation.creationdate|date("m/d/Y") }} </td>
                <td>{{ Reclamation.statue }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
